## pdfgetx3 searches for default configurations in ~/.pdfgetx3.cfg,
## .pdfgetx3.cfg, pdfgetx3.cfg and then loads a custom configuration
## if specified via the "-c" option.  You can run
##
##     pdfgetx3 --verbose=info
##
## to verify how and from what file are the parameters set.
##
## Use "pdfgetx3 --createconfig=FILE" to write a new configuration
## file with a description of all supported options.

[DEFAULT]

## Format of input files.  Available formats are: "twotheta", "QA", "Qnm"
## corresponding to a 2-column text data where the first column is either
## twotheta in degrees, Q in inverse Angstroms or Q in inverse nanometers.
dataformat = twotheta

## Multi-valued configuration parameters can be specified using any combination
## of comma separated values and/or new lines.
##
## In this simple example, we demonstrate that the single background file
## 'kapton_bgrd_300k_nor_2-3.chi' can be equviavlently subtracted either once at
## a scale of "1.0" or twice at a scale of "0.5". Note that both background
## files specified here are identical in contents, but a duplicate file was
## created since specifying the same file multiple times only results in a
## single instance being referred to during the PDF production.
##
## Finally, note that multi-valued parameters can be equivalently specified
## using either the English singular or plural forms of the word (e.g.
## "backgroundfile" or "backgroundfiles"), regardless of the number of values
## actually provided. Both the singular and plural forms of a parameter name map
## the same internally but both are accommodated for user convenience.
##                  kapton_bgrd_300k_nor_2-3_copy.chi
backgroundfiles = kapton_bgrd_300k_nor_2-3.chi
                  kapton_bgrd_300k_nor_2-3_copy.chi

## As stated above for "backgroundfiles" multi-valued configuration parameters
## can be specified using any combination of comma separated values and/or new
## lines.
##
## Here, "bgscales" specifies the initial magnitude(s) of the specified
## background files. There are several ways one can specify the initial bgscales
## value(s).
##
## Using default:          One can omit specifying any bgscales resulting in
##                         each backgroundfile having a corresponding bgscale
##                         initialized to "1.0".
## Specifying one value:   One can specify a single "bgscale" value resulting in
##                         each backgroundfile having a corresponding bgscale
##                         initialized to the specified value.
## Specifying many values: One can specify a bgscale for each backgroundfile
##                         using a list of values (as shown here). Note that for
##                         this option, be sure to specify as many bgscales
##                         values as there are backgroundfiles.
bgscales = 0.5, 0.5

## Types of output files to be saved.  Possible values are
## "iq", "sq", "fq", "gr", also used as filename extensions.
## No files are saved when empty, "none" or "NONE".
outputtype = gr

## X-ray wavelength in Angstroms.  Required for the "twotheta" dataformat.
wavelength = 0.142774

## Chemical composition of the measured sample.  Supported formats are
## "PbTi0.5Zr0.5O3", "Pb (TiZr)0.5 O3" or "Pb 1 (Ti Zr) 1/2 O 3".
## Space characters are ignored, unit counts can be omitted, but it is
## important to use a proper upper and lower case in atom symbols.
## Elements can appear several times in the formula, e.g., "CH3 CH3",
## and the formula may contain parentheses or fractional counts.
composition = Ni

## The Q cutoff for the meaningful input intensities in inverse Angstroms.
## This is the upper boundary for the qmax parameter.  It is also used as
## the upper boundary for the polynomial fits in S(Q) corrections.
qmaxinst = 26.5

## Lower Q cutoff for Fourier transformation in inverse Angstroms.
## Use 0.0 when not specified.
#qmin = 0.0

## Upper Q cutoff for Fourier transformation in inverse Angstroms.
## Use maximum Q in the data when not specified.
qmax = 26.0

## Limits and spacing for the calculated PDF r-grid.
## All values in Angstroms.
rmin = 0.0
rmax = 30.0
rstep = 0.01
