## pdfgetn3 searches for default configurations in ~/.pdfgetn3.cfg,
## .pdfgetn3.cfg, pdfgetn3.cfg and then loads a custom configuration
## if specified via the "-c" option.  You can run
##
##     pdfgetn3 --verbose=info
##
## to verify how and from what file are the parameters set.
##
## Use "pdfgetn3 --createconfig=FILE" to write a new configuration
## file with a description of all supported options.

## The default section -------------------------------------------------------

## Parameters defined here are also available in custom sections below.
[DEFAULT]

## Format of input files.  Available formats are: "twotheta", "QA", "Qnm"
## corresponding to a 2-column text data where the first column is either
## twotheta in degrees, Q in inverse Angstroms or Q in inverse nanometers.
dataformat = twotheta

## Optional background intensities from container and air scattering
backgroundfile =

## Types of output files to be saved.  Possible values are
## "iq", "sq", "fq", "gr", also used as filename extensions.
## No files are saved when empty, "none" or "NONE".
outputtype = fq, gr

## The PDF calculator configuration mode or a name of the calculator
## setup.  The available modes correspond to the radiation type.
## The supported modes are:
## 'xray', 'neutron'
mode = neutron

## X-ray wavelength in Angstroms.  Required for the "twotheta" dataformat.
wavelength = 1.0989

## Position of the zero scattering angle in diffractometer degrees.
## Applies only for the "twotheta" dataformat.
twothetazero = -0.38

## Chemical composition of the measured sample.  Supported formats are
## "PbTi0.5Zr0.5O3", "Pb (TiZr)0.5 O3" or "Pb 1 (Ti Zr) 1/2 O 3".
## Space characters are ignored, unit counts can be omitted, but it is
## important to use a proper upper and lower case in atom symbols.
## Elements can appear several times in the formula, e.g., "CH3 CH3",
## and the formula may contain parentheses or fractional counts.
composition = Al2O3

## The Q cutoff for the meaningful input intensities in inverse Angstroms.
## This is the upper boundary for the qmax parameter.  It is also used as
## the upper boundary for the polynomial fits in S(Q) corrections.
qmaxinst = 11.2

## Lower Q cutoff for Fourier transformation in inverse Angstroms.
## Use 0.0 when not specified.
#qmin = 0.0

## Upper Q cutoff for Fourier transformation in inverse Angstroms.
## Use maximum Q in the data when not specified.
qmax = 11.2

## Limits and spacing for the calculated PDF r-grid.
## All values in Angstroms.
rmin = 0.0
rmax = 20.0
rstep = 0.01
